<header class="site-header" role="banner">

  <div class="wrapper">
<br>
<div class="site-avatar"><img src="{{ site.baseurl }}/me.png">
</div>
    <a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>

 <div class="grid" id="searchBar">
      <div>
          <div id="search">
              <form role="search" method="get" action="{{site.baseurl}}/search/">
                  <input id="searchString" name="searchString"
                         placeholder="തിരയുക" type="text">
                  <input id="searchButton" name="googleSearchName" type="submit" value="തിരയുക">
              </form>
          </div>         
      </div>
  </div>
   <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="nav-list">
        <li>
          <a href="#!">Home</a>
        </li>
        <li>
          <a href="#!">About</a>
        </li>
        <li>
          <a href="#!">Services</a>
          <ul class="nav-dropdown">
            <li>
              <a href="#!">Web Design</a>
            </li>
            <li>
              <a href="#!">Web Development</a>
            </li>
            <li>
              <a href="#!">Graphic Design</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#!">Pricing</a>
        </li>
        <li>
          <a href="#!">Contact</a>
        </li>
      </ul>
     </nav>
   </div>

</header>
