
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";



.panel-image {
    width: 100%;
	border-radius: 4px 4px 0px 0px;
}

.img-circle {
width: 100%;
}

@media (max-width:768px) {
 .carousel-caption {
 font-size: 10px;
 }
 .carousel-caption h3 {
 font-size: 12px;
 }
}






















	
